@include establish-baseline;

@include blueprint-typography-defaults;
@include fancy-type;

a{@include unstyled-link;}

#container {
  //@include showgrid;  
}

#content {
  //background-color: #fff;
}

.fancy-button-base{
  $fb-font-size: 14px;
  $fb-radius: 3px;
  @include fancy-button;
  vertical-align: middle;
  margin: 0 2px;
  @include fancy-button-colors-matte(#ddd);
}

.base-style{
  @include border-radius(3px);    
  @include background-image(linear-gradient(top, #eee, #dddddd));
  border: 1px solid #ccc;
  @include prepend-top(20px);
  @include clearfix;
}

@mixin content-position{
  @include push(1);
  @include column(20, true);
}

#header{
  nav {
    @include horizontal-list-container;    
    @include float-right;    
    @include border-bottom-radius(5px);    
    @include background-image(linear-gradient(top, #eee, #dddddd));
    border: 1px solid #ccc;
    ul li {
      @include normal-text;
      @include horizontal-list-item;
    }  
  }
}

#content_header, #content_footer {  
  nav {
    @extend .base-style;
    padding:.5em;
  }
  
  nav button {
    @extend .fancy-button-base;
  }
  
  nav a {
    @include unstyled-link;
  }
}

#micropost_form {
  @extend .base-style;  
      
  .field{
    @include content-position;
    @include append-bottom(-.5em);
    @include blueprint-form-borders(#ddd, #fff, #eee);
  }
  .field textarea#micropost_content{
    @include normal-text;
    border-width:4px;
    background-color:#fff;
    font-size:22px;
    height: 110px;
    width: 481px;
    
    $default-box-shadow-blur: 10px;
    $default-box-shadow-inset: true;
    $default-box-shadow-color: #505050;
    @include box-shadow;
    @include border-radius;
  }
  
  .actions {
    @include content-position;
  }
  
  .actions .count{
    @include normal-text;
    padding-left: 5px;
    font-size: 18px;
  }
  
  .actions .count.lengtherror{
    color: darkred;
  }
  
  input#micropost_submit{
    @extend .fancy-button-base;
    @include float-right;
  }
}
    
#microposts {
  @extend .base-style;
  
  .pagination{  
    padding-top:20px;
    @include content-position;
  }
  
  .pagination .next{
    @extend .fancy-button-base;
    @include clearfix;
    @include float-right;    
  }
  
  .pagination .prev{
    @extend .fancy-button-base;
    @include clearfix;
    @include float-left;    
  }
  
  .pagination span.disabled{
    display:none;
  }
  
  .feed-item {
    @include content-position;
    @include background-image(linear-gradient(left top, #eee, #dddddd));    
    @include border-right-radius(3px);
  }
  
  .feed-item .left {
    @include column(4);
  }
  
  .feed-item .right {
    @include clearfix;
    @include prepend-top(5px);
    
    @include column(16, true);   
  }
  
  .feed-item .right .item-row {
    .item-user {
      @include normal-text;
      font-weight:bold;
    }
      
    .item-content {
      @include normal-text;
    }
    
    .details {
      @include normal-text;
      @include quiet;
      font-size:14px;
    }
  }
}


#error_explanation,
#flash_notice,
#flash_error,
#flash_alert {
  @extend .position-content;
}

#flash_notice {
  background-color: #ccffcc;
  border: solid 1px #66cc66; }

#flash_error,
#flash_alert {
  @include error
}



#user_info {
  @include horizontal-list-container;  
  
  ul {
    @include horizontal-list;
    padding: 1em;
  }

  li {
    @include horizontal-list-item;
  }
  
}