@include establish-baseline;
@include blueprint-typography-defaults;
@include fancy-type;

@mixin element-style{
  @include background-image(linear-gradient(top, #eee, #dddddd));
  border: 1px solid #ccc;
  @include border-radius(3px);
}


@mixin element-position {
  @include push(1);
  @include column(20, true);
}

@mixin base-position {
  @include column(22, true);
  
}

@mixin base-style{
  @include element-style;
  @include prepend-top(20px);
  @include clearfix;
  
  hr{
     @include colruler(#fff);
     margin:0px;
   }
   
  hr.last{
    display:none;
  }
}


@mixin pagination{
  .pagination{  
    padding-top:20px;
    @include element-position;
  }
  
  .pagination .next{
    @extend .fancy-button-base;
    @include clearfix;
    @include float-right;    
  }

  .pagination .prev{
    @extend .fancy-button-base;
    @include clearfix;
    @include float-left;    
  }
  
  .pagination span.disabled{
    display:none;
  }
}


a{
  @include hover-link;
  $normal: #06c;
  $visited: #06c;
  @include link-colors(#06c, #06c, #06c);
  }

.fancy-button-base{
  $fb-font-size: 15px;
  $fb-radius: 3px;
  @include fancy-button;
  vertical-align: middle;
  margin: 0 2px;
  @include fancy-button-colors-matte(#ddd);
}

.alt {
  @include normal-text;
}

.item { 
  @include base-position;
  @include border-right-radius(3px);
  @include normal-text;
  padding: 10px 0 10px 0;
    
  .full {
    @include push(1);
    @include column(20, true);
  }

  .left {
    @include push(1);
    @include column(4);
  }

  .right {
    @include clearfix;
    @include column(16, true);   
  }

  .item-user {
    font-weight:500;
  }
    
  .item-content {
  }

  .details {
    @include quiet;
    font-size:14px;
    vertical-align:top;
  }
  
  h2 {
    @include prepend-top(5px);
  }
  
}

.highlight{
  $highlight-color: #ccc;
  @include highlight;
}

#header{  

  #logo {
    @include clearfix;
    margin-bottom:-70px;
  }
  
  nav {
    @include horizontal-list-container;
    @include float-right;
    @include clearfix;
    
    @include border-bottom-radius(5px);    
    @include background-image(linear-gradient(top, #eee, #dddddd));
    border: 1px solid #ccc;
    
    ul li {
      @include horizontal-list-item;
    }  
  }
}

#content_header, #profile_header, #footer { 
  nav {
    @include base-style;
    padding:.5em;
    @include clearfix;
  }
  
  nav li {
    @extend .fancy-button-base;
  }
  
  nav a {
    @include unstyled-link;
  }
}

#profile_header {
  @include base-position;
  
  nav li {
    @include fancy-button-colors-matte(#eee);
  }
  
}


#micropost_form {
  @include base-style;  
  @include base-position;
  
  .field{
    @include element-position;
    
    @include append-bottom(-.5em);
    @include blueprint-form-borders(#ddd, #fff, #eee);
  }
  .field textarea#micropost_content{
    @include single-box-shadow(
      $inset: false, 
      $blur: 20px, 
      $voff: -2px, 
      $hoff: -2px
    );
    @include border-radius;  
    border-width:4px;
    background-color:#fff;
    font-size:22px;
    height: 110px;
    width: 481px;    
  }
  
  .actions {
    @include element-position;
  }
  
  .actions .count{
    padding-left: 5px;
    font-size: 18px;
  }
  
  .actions .count.lengtherror{
    color: darkred;
  }
  
  input#micropost_submit{
    @extend .fancy-button-base;
    @include float-right;
  }
  
  #error_explanation{
    @extend #error_explanation;
    @include column(19);
    @include prepend-top(20px);
  }
}

#paginate {
  @include base-style;
  @include base-position;
  @include pagination;
}

#microposts {
  @include base-style;
  @include base-position;
  
  .feed-item {    
    @extend .item;
    margin-bottom:0px;
  }
  
  .first{
    
  }
  .left{
    height:80px;    
  }
}

#users {
  @include base-style;
  @include base-position;
  
  .user-item {
    @extend .item;
    height: 50px;  
  }
  .left{
    height: 50px;
  }  
}

#profile {
  @include base-style;
  @include base-position;
  
  .user-item{ 
    @extend .item;
    @include append-bottom(10px);
  }
      
  .user-item .left{
    height: 80px;
  }
  
  .user-item .right{
    
  }
  
  .actions.follow{
    margin:-1px;
  }
  
  .actions.unfollow{
    margin-left:-12px;
  }
  input#relationship_submit {
    @extend .fancy-button-base;
  }
  
}


#signin, #settings {
  @include base-position;
  @include base-style;
  
  form {
    @include column(20,true);
    @include prepend-top(30px);    
  }
  
  .field, .actions{
    @include element-position;
    @include prepend-top(-15px);
    
  }

  .field label, .field input{
    width: 489px;
    font-size: 22px;
     @include blueprint-form-borders(#ddd, #fff, #eee);    
  }
  
  .field input{    
    $default-box-shadow-blur: 7px;
    @include blueprint-form-borders(#ddd, #fff, #eee);
    @include single-box-shadow(
      $inset: false, 
      $blur: 5px, 
      $voff: -1px, 
      $hoff: -1px
    );
    @include border-radius;
    
    border-width:4px;
    background-color:#fff;
  }
  
  input#session_submit, input#user_submit{
    @extend .fancy-button-base;
    @include float-right;
  }
  
  #gravatar{
    @include element-position;
  }
  
  #gravatar img.gravatar{
    @include float-right;
    @include prepend-top(8px);
    margin-right: 6px;
  }
  
  #gravatar p{
    @include float-right;
    clear:both;
  }
  
  #gravatar a{
    @include float-right;
    @include prepend-top(8px);
    @extend .fancy-button-base;
  }
    
  #gravatar .label{    
    font-size:22px;
    text-align: right;
  }
}

#flash{  
  @include blueprint-interaction;
  @include prepend-top(20px);
  
  .success, .notice, .error {
    @include border-radius(3px);
  }
}


#error_explanation{
  @include border-radius;
  @include append-bottom(20px);
  @include clearfix;
  @include push(1);  
  @include error;
}