= form_for @micropost, :html => {:class => "bp"} do |f|
  = render 'shared/error_messages', :object => f.object  
  %div.field
    = f.text_area :content  
  %div.actions.light
    = f.submit "Post"
    .count
      140 characters remain