.feed-item
  .full
    .item-row
      .item-content
        = wrap(micropost.content)
    .item-row
      .details
        %span.item-timestamp
          = "Posted #{time_ago_in_words(micropost.created_at)} ago."
        |
        %span.item-delete
          -if current_user?(micropost.user)
            = link_to "delete", micropost, :method => :delete, :confirm => "You sure?", :title => micropost.content, :remote => true
%hr